.message {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin: 8px 0;
  white-space: pre-line;
  > p {
    margin: 0 16px;
  }
}

.message.me {
  align-items: flex-end;
  text-align: end;
  .card {
    color: black;
    background-color: var(--mat-sys-primary);
  }
}

.message.other {
  align-items: flex-start;
  text-align: start;
  .card {
    color: whitesmoke;
    background-color: var(--mat-sys-primary-container);
  }
}

.card {
  max-width: 70%;
  padding: 10px 12px;
  border-radius: 12px;
  background: #f1f3f5;
  color: #111;
  word-wrap: break-word;
}

.date {
  font-size: 11px;
  margin-top: 6px;
  opacity: 0.8;
}