.page-header {
  text-align: center;
}

main {
  margin: 96px auto 32px;
  padding-bottom: 64px;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
}

.actions {
  width: 60%;
  margin: auto;
  display: block;
}

mat-card {
  background-color: var(--mat-sys-surface-container-low);

  h2, h3 {
    margin-top: 8px;
  }

  &.centered {
    text-align: center;
  }

  img {
    float: left;
    display: block;
    width: 15%;
    min-width: 150px;
    margin-right: 32px;

    height: auto;
    max-height: 400px;
    border-radius: 32px;
  }

  mat-card-content.main p {
    // font-weight: bold;
    font-size: 1rem;
  }
}

div.description-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  .meta {
    flex: 1;
  }
  .description {
    flex: 2;
    white-space: pre-line;
  }
  .comments {
    flex-basis: 100%;
    min-height: 400px;
  }
}

mat-card-title {
  margin-bottom: 16px;
}

app-post-comment-section {
  margin-top: 64px;
}


// button {
//   min-height: 40px;
//   border: 0;
//   border-radius: 100px;
//   font-family: 'Roboto', sans-serif;
//   font-size: 1rem;
//   cursor: pointer;
//   padding: 8px 16px;
// }

// .outline {
//   background: transparent;
//   border: 1px solid rgba(255, 255, 255, 0.12);
//   color: inherit;
// }
