@use '@angular/material' as mat;
@use './custom-styles.scss' as *;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ), $overrides: (
    secondary: #41f680,
  ));
}

body {
  // Default the application to a dark color theme. Use `light dark` to defer
  // to the user's system preference if you prefer.
  // Setting `color-scheme: dark` helps form controls and the browser to
  // display in dark mode. We also provide safe fallbacks for Material's
  // system variables so the app looks good if the CSS variables are not
  // yet available during early render.
  color-scheme: dark;

  background-color: var(--mat-sys-surface); //#0b1220
  color: var(--mat-sys-on-surface); //#e6f7ff
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  // background-image: url("./background.webp");
  background-repeat: repeat;
  background-position: top left;
  background-size: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

