.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
  height: auto;

  position: sticky;
  top: 0;
  z-index: 1000;

  background: var(--mat-sys-primary-container);
  box-shadow: 0px 2px 3px var(--mat-sys-primary-container);

  .logo {
    font-weight: 600;
    font-size: 1.1rem;
    padding-right: 20px;
    border: 0;
    border-right: 2px solid whitesmoke;
    cursor: pointer;
    background: transparent;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    button {
      margin-left: 8px;
      height: 36px;
    }
  }

  .account-button {
    margin-left: auto;
    height: 36px;
  }
}

// .toolbar-wrapper {
//   width: 100%;
//   height: auto;
//   min-height: 64px;
// }